* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcf9f4;
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

header .logo a {
    font-size: 2.5rem; 
    font-weight: 700;
    color: #4a2c2c; 
}

.product-container {
    display: flex;
    background-color: #ffffff;
   
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.image-box {
    border-radius: 8px;
    flex-basis: 300px;
    flex-shrink: 0;
}

.image-box img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.details-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.details-box h2 {
    color: #4a4a4a;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.price {
    font-size: 1.2rem;
    color: #888;
    margin-bottom: 5px;
}

.price strong {
    color: #4a4a4a;
}

.description {
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 20px;
}

.quantity-control {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 20px;
}

.quantity-control button {
    background-color: transparent;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #4a4a4a;
}

.quantity-control button:hover {
    background-color: #f0f0f0;
}

.quantity-control input {
    width: 30px;
    text-align: center;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 1rem;
    background-color: transparent;
}

.add-to-cart {
    background-color: #e0d8cf;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: #4a4a4a;
    font-weight: bold;
    align-self: flex-start;
}

.add-to-cart:hover {
    background-color: #d0c8bf;
}

/* Media query para telas menores */
@media (max-width: 600px) {
    .product-container {
        flex-direction: column;
    }

    header h1 {
        align-self: center;
        text-align: center;
    }

    .add-to-cart {
        align-self: stretch;
    }
}
