<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doce Café</title>
    <link rel="stylesheet" href="../styles/login.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/login.js" defer></script>
</head>
<body>

    <header>
        <span>Entrar</span>
        <span class="not-selected">Criar uma conta</span>
    </header>

    <form>
        <h1>Login</h1>

        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" maxlength="20">
        </div>

        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" maxlength="20">
        </div>

        <button>Enviar</button>
    </form>

</body>
</html>
