<!DOCTYPE html>
<html lang="PT-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/pedidos.css">
</head>

<body>
    <div id="cabecalho">
        <h1>Doce Café</h1>
        <p>Gerenciamento de Pedidos</p>
    </div>

    <div id="grafico">
        <div id="pendentes">
            <p class="label">Pendentes</p>
            <span class="valor"></span>
        </div>
        <div id="concluidos">
            <p class="label">Concluídos</p>
            <span class="valor"></span>
        </div>
        <div id="total">
            <p class="label">Total</p>
            <span class="valor"></span>
        </div>
    </div>

    <div id="body">
        <div id="buscar">
            <input type="text" id="buscar" placeholder="Pesquisar pedido...">
        </div>

        <div id="pedidos">
            <div id="pedidosPendentes">
                <h2>Pedidos Pendentes</h2>
            </div>

            <div id="pedidosConcluidos">
                <h2>Pedidos Concluídos</h2>
            </div>
        </div>
    </div>

</body>

</html>