<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doce Café</title>
    <link rel="stylesheet" href="../styles/produto.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/produto.js" defer></script>
    
</head>
<body>
    <header>
        <div class="logo">
            <a href="/home">Doce Café</a> 
        </div>
    </header>

    <main class="product-container">
        <div class="image-box">
            <img id="product-img" src="" alt="Imagem do Produto">
        </div>
        <div class="details-box">
            <h2 id="product-name"></h2>
            <p class="price">Preço: R$ <span id="product-price">0.00</span></p>
            <p class="description" id="product-description">Descrição do produto:</p>
            
            <div class="quantity-control">
                <button id="decrement">-</button>
                <input type="text" id="quantity" value="1" readonly>
                <button id="increment">+</button>
            </div>
            
            <button class="add-to-cart">Adicionar ao carrinho</button>
        </div>
    </main>
</body>
</html>
